swagger: '2.0'
info:
  title: Checkout API
  description: Provides an interface to perform a checkout.
  version: "1.0.0"
host: checkout.sample.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
parameters:
  DomainHeaderRequired:
    name: X-Sample-Domain
    in: header
    description: Domain identifier
    required: true
    type: string
  SessionHeaderRequired:
    name: X-Sample-Session
    in: header
    description: Session identifier
    required: true
    type: string
  CheckoutHeaderRequired:
    name: X-Sample-Checkout
    in: header
    description: Checkout identifier
    required: true
    type: string
  LanguageHeader:
    name: X-Sample-Language
    in: header
    description: Language identifier
    required: false
    type: string
  TraceHeader:
    name: X-Sample-Trace
    in: header
    description: Trace identifier
    required: false
    type: string
  RemoteIpHeader:
    name: X-Sample-RemoteIp
    in: header
    description: Remote ip of the browser
    required: false
    type: string
  ShippingMethodBody:
    name: ShippingMethodBody
    in: body
    description: Shipping method to change
    required: true
    schema:
      type: object
      properties:
        id:
          type: string
  ShippingAddressBody:
    name: ShippingAddressBody
    in: body
    description: Shipping address to change
    required: true
    schema:
      type: object
      properties:
        id:
          type: string
  BillingAddressBody:
    name: BillingAddressBody
    in: body
    description: Billing address to change
    required: true
    schema:
      type: object
      properties:
        id:
          type: string
  HandlingBody:
    name: HandlingBody
    in: body
    description: Handling to change
    required: true
    schema:
      type: object
      properties:
        id:
          type: string
  PaymentMethodBody:
    name: PaymentMethodBody
    in: body
    description: PaymentMethod to change
    required: true
    schema:
      type: object
      properties:
        id:
          type: string
  PreviewBody:
    name: PreviewBody
    in: body
    description: Checkout related data
    required: false
    schema:
      type: object
      properties:
        formData:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
  BuyBody:
    name: BuyBody
    in: body
    description: Data which are needed to authorize the checkout
    required: false
    schema:
      type: object
      properties:
        url:
          type: object
          properties:
            success:
              type: string
            failure:
              type: string
            abort:
              type: string
  CompleteBody:
    name: CompleteBody
    in: body
    description: Data which are needed to complete the checkout
    required: false
    schema:
      type: object
      properties:
        url:
          type: string
          description: To provide query parameters from PSP
  BillBody:
    name: BillBody
    in: body
    description: Data which are needed to generate the bill
    required: true
    schema:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              offerId:
                type: string
              duin:
                type: string
              sku:
                type: string
              price:
                type: number
              quantity:
                type: integer
                format: int32
              merchant:
                type: string
              deliveryDate:
                type: string
              condition:
                type: string
              itemNote:
                type: string
              taxtype:
                type: integer
                format: int32
            
paths:
  /checkout:
    get:
      summary: Refresh and get a checkout
      description: |
        This method refreshes all data related to a checkout and returns the updated information.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
    post:
      summary: Start a new checkout
      description: |
        This methot starts a new checkout process. It creates a checkout identifier that can be used for further calls to proceed with the checkout process.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/RemoteIpHeader'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /checkout/session:
    put:
      summary: Assign a new session to the checkout.
      description: |
        This method replaces the currently associated session on a checkout with the one specified in the header.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'

  /checkout/shippingMethod:
    put:
      summary: Assign a new shippingMethod to the checkout.
      description: |
        This method replaces the currently associated shippingMethod on a checkout with the one specified.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/ShippingMethodBody'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /checkout/billingAddress:
    put:
      summary: Assign a new billingAddress to the checkout.
      description: |
        This method replaces the currently associated billingAddress on a checkout with the one specified.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/BillingAddressBody'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /checkout/shippingAddress:
    put:
      summary: Assign a new shippingAddress to the checkout.
      description: |
        This method replaces the currently associated shippingAddress on a checkout with the one specified.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/ShippingAddressBody'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /checkout/handling:
    put:
      summary: Assign a new handling to the checkout.
      description: |
        This method replaces the currently associated handling on a checkout with the one specified.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/HandlingBody'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /checkout/paymentMethod:
    put:
      summary: Assign a new paymentMethod to the checkout.
      description: |
        This function internally calls the payment module to get the detailed information of the payment method, which includes the description and html form.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/PaymentMethodBody'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /checkout/preview:
    post:
      summary: Prepare the checkout for preview
      description: |
        This function internally calls the payment module to initialize the payment method, which includes form data if there is any. (Can be used for example for Intrum Justicia)
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/PreviewBody'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /checkout/buy:
    post:
      summary: Authorize the payment for the checkout
      description: |
        This function internally calls the payment module to authorize the payment method.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/BuyBody'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /checkout/complete:
    post:
      summary: Complete the payment for the checkout
      description: |
        This function internally calls the payment module to complete the payment method.
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/CheckoutHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/CompleteBody'
      tags:
        - sample-rest
      responses:
        200:
          description: Checkout
          schema:
            $ref: '#/definitions/Checkout'
  /bill:
    post:
      summary: Generate the bill for a cart
      description: |
        This function will be only called by the cart module to generate the bill for it.
      tags:
       - cart
      parameters:
        - $ref: '#/parameters/SessionHeaderRequired'
        - $ref: '#/parameters/DomainHeaderRequired'
        - $ref: '#/parameters/LanguageHeader'
        - $ref: '#/parameters/TraceHeader'
        - $ref: '#/parameters/BillBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CartBill'
    
definitions:
  Checkout:
    type: object
    properties:
      id:
        type: string
        description: The checkout identifier
      billSummary:
          $ref: '#/definitions/Bill'
      orders:
        type: array
        items:
          $ref: '#/definitions/Order'
      shippingMethod:
        type: object
        properties:
          selected:
            $ref: '#/definitions/ShippingMethod'
          all:
            type: array
            items:
              $ref: '#/definitions/ShippingMethod'
      billingAddress:
        type: object
        properties:
          selected:
            $ref: '#/definitions/Address'
          all:
            type: array
            items:
              $ref: '#/definitions/Address'
      shippingAddress:
        type: object
        properties:
          selected:
            $ref: '#/definitions/Address'
          all:
            type: array
            items:
              $ref: '#/definitions/Address'
      handling:
        type: object
        properties:
          selected:
            type: array
            items:
              $ref: '#/definitions/Handling'
          all:
            type: array
            items:
              $ref: '#/definitions/Handling'
      paymentMethod:
        type: object
        properties:
          selected:
            $ref: '#/definitions/PaymentMethod'
          all:
            type: array
            items:
              $ref: '#/definitions/PaymentMethod'
      previewResult:
        $ref: '#/definitions/Result'
      buyResult:
        $ref: '#/definitions/Result'
      completeResult:
        $ref: '#/definitions/Result'

  Order:
    type: object
    properties:
      bill:
        $ref: '#/definitions/Bill'
      orderLines:
        type: array
        items:
          $ref: '#/definitions/OrderLine'
  Address:
    type: object
    properties:
      id:
        type: string
      firstName:
        type: string
        description: Firstname
      lastName:
        type: string
        description: Lastname
      company:
        type: string
        description: Company Name
      street1:
        type: string
        description: Address Line 1
      street2:
        type: string
        description: Address Line 2
      street3:
        type: string
        description: Address Line 3
      zip:
        type: string
        description: ZIP Code
      city:
        type: string
        description: City
      country:
        type: string
        description: Country Name
      phone:
        type: string
        description: Phone Number
  Result:
    type: object
    properties:
      success:
        type: boolean
      redirectUrl:
        type: string
      message:
        type: string
  ShippingMethod:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
  PaymentMethod:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
      form:
        type: string
  Handling:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
  Bill:
    type: object
    properties:
      title:
        type: string
        description: The title of the bill
      subtotal:
        type: number
        description: The bill subtotal value
      shipping:
        type: number
        description: The shipping cost
      net:
        type: number
        description: The net value of this bill
      vat:
        type: number
        description: The VAT component of this bill
      total:
        type: number
        description: The total value of this bill
  OrderLine:
    type: object
    properties:
      quantity:
        type: number
        description: a
      title:
        type: string
        description: a
      subtitle:
        type: string
        description: a
      duin:
        type: string
        description: a
      imageUrl:
        type: string
        description: a
      merchantName:
        type: string
        description: a
      merchantId:
        type: string
        description: a
      unitPrice:
        type: number
        description: a
      totalPrice:
        type: number
        description: a
      deliveryTime:
        type: string
        description: a
  CartBill:
    type: object
    properties:
      billSummary: 
        $ref: '#/definitions/Bill'
      bills:
        type: array
        items:
          $ref: '#/definitions/Bill'
      items:
        type: array
        items:
          $ref: '#/definitions/CartOffer'
  CartOffer:
    type: object
    properties:
      offerId:
        type: string
      price:
        type: number
      